USE [DBKUTUPHANE]
GO
/****** Object:  Table [dbo].[TBL_YAZAR]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_YAZAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[DETAY] [varchar](1000) NULL,
 CONSTRAINT [PK_TBL_YAZAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCEZALAR]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCEZALAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UYE] [int] NULL,
	[BASLANGIC] [smalldatetime] NULL,
	[BITIS] [smalldatetime] NULL,
	[PARA] [decimal](18, 2) NULL,
	[HAREKET] [int] NULL,
 CONSTRAINT [PK_TBLCEZALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAKKIMIZDA]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAKKIMIZDA](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ACIKLAMA] [varchar](max) NULL,
 CONSTRAINT [PK_TBLHAKKIMIZDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAREKET]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAREKET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KITAP] [int] NULL,
	[UYE] [int] NULL,
	[PERSONEL] [tinyint] NULL,
	[ALISTARIH] [smalldatetime] NULL,
	[UYEGETIRTARIH] [smalldatetime] NULL,
	[IADETARIH] [smalldatetime] NULL,
	[ISLEMDURUM] [bit] NULL,
 CONSTRAINT [PK_TBLHAREKET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLILETISIM]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLILETISIM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[MAIL] [varchar](50) NULL,
	[BASLIK] [varchar](50) NULL,
	[MESAJ] [varchar](1000) NULL,
	[KONU] [varchar](50) NULL,
 CONSTRAINT [PK_TBLILETISIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKASA]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKASA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AY] [varchar](20) NULL,
	[TUTAR] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLKASA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKATEGORI]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORI](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
 CONSTRAINT [PK_TBLKATEGORİ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKITAP]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKITAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[KATEGORI] [tinyint] NULL,
	[YAZAR] [int] NULL,
	[BASIMYIL] [char](4) NULL,
	[YAYINEVI] [varchar](50) NULL,
	[SAYFA] [varchar](4) NULL,
	[DURUM] [bit] NULL,
	[KITAPRESIM] [varchar](250) NULL,
 CONSTRAINT [PK_TBLKITAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMESAJLAR]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMESAJLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [varchar](50) NULL,
	[ALICI] [varchar](50) NULL,
	[KONU] [varchar](50) NULL,
	[ICERIK] [varchar](500) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBLMESAJLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLPERSONEL]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLPERSONEL](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[PERSONEL] [varchar](50) NULL,
 CONSTRAINT [PK_TBLPERSONEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLUYELER]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLUYELER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](20) NULL,
	[MAIL] [varchar](50) NULL,
	[KULLANICIADI] [varchar](20) NULL,
	[SIFRE] [varchar](20) NULL,
	[FOTOGRAF] [varchar](250) NULL,
	[TELEFON] [varchar](20) NULL,
	[OKUL] [varchar](100) NULL,
 CONSTRAINT [PK_TBLUYELER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLHAREKET] ADD  CONSTRAINT [DF_TBLHAREKET_ISLEMDURUM]  DEFAULT ((0)) FOR [ISLEMDURUM]
GO
ALTER TABLE [dbo].[TBLKITAP] ADD  CONSTRAINT [DF_TBLKITAP_DURUM]  DEFAULT ((1)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TBLCEZALAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLCEZALAR_TBLHAREKET] FOREIGN KEY([HAREKET])
REFERENCES [dbo].[TBLHAREKET] ([ID])
GO
ALTER TABLE [dbo].[TBLCEZALAR] CHECK CONSTRAINT [FK_TBLCEZALAR_TBLHAREKET]
GO
ALTER TABLE [dbo].[TBLCEZALAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLCEZALAR_TBLUYELER] FOREIGN KEY([UYE])
REFERENCES [dbo].[TBLUYELER] ([ID])
GO
ALTER TABLE [dbo].[TBLCEZALAR] CHECK CONSTRAINT [FK_TBLCEZALAR_TBLUYELER]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLKITAP] FOREIGN KEY([KITAP])
REFERENCES [dbo].[TBLKITAP] ([ID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLKITAP]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLPERSONEL] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBLPERSONEL] ([ID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLPERSONEL]
GO
ALTER TABLE [dbo].[TBLHAREKET]  WITH CHECK ADD  CONSTRAINT [FK_TBLHAREKET_TBLUYELER] FOREIGN KEY([UYE])
REFERENCES [dbo].[TBLUYELER] ([ID])
GO
ALTER TABLE [dbo].[TBLHAREKET] CHECK CONSTRAINT [FK_TBLHAREKET_TBLUYELER]
GO
ALTER TABLE [dbo].[TBLKITAP]  WITH CHECK ADD  CONSTRAINT [FK_TBLKITAP_TBL_YAZAR] FOREIGN KEY([YAZAR])
REFERENCES [dbo].[TBL_YAZAR] ([ID])
GO
ALTER TABLE [dbo].[TBLKITAP] CHECK CONSTRAINT [FK_TBLKITAP_TBL_YAZAR]
GO
ALTER TABLE [dbo].[TBLKITAP]  WITH CHECK ADD  CONSTRAINT [FK_TBLKITAP_TBLKATEGORI] FOREIGN KEY([KATEGORI])
REFERENCES [dbo].[TBLKATEGORI] ([ID])
GO
ALTER TABLE [dbo].[TBLKITAP] CHECK CONSTRAINT [FK_TBLKITAP_TBLKATEGORI]
GO
/****** Object:  StoredProcedure [dbo].[EnFazlaKitapYazar]    Script Date: 23-Aug-21 9:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EnFazlaKitapYazar]
AS
SELECT TOP 1 TBL_YAZAR.AD + TBL_YAZAR.SOYAD FROM TBLKITAP
INNER JOIN TBL_YAZAR ON TBL_YAZAR.ID=TBLKITAP.YAZAR GROUP BY TBL_YAZAR.AD,TBL_YAZAR.SOYAD ORDER BY COUNT(*)
GO
